@eval textFont jetbrains.jetpad.projectional.view.gwt.View2Dom.font();
@eval highlightColor jetbrains.jetpad.cell.Cell.HIGHLIGHT_COLOR.toCssColor();
@eval brightHighlightColor jetbrains.jetpad.cell.Cell.BRIGHT_HIGHLIGHT_COLOR.toCssColor();

.rootContainer:focus {
  outline: 0;
}

.rootContainer {
  position: relative;
  overflow: visible;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  -webkit-touch-callout: none;
  -webkit-user-select: none;

  width: fit-content;
}

.horizontal {
  display: inline-block;
  white-space: nowrap;

  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
}

.horizontal > div {
  display: inline-block;
  vertical-align : top;
}

.vertical > div {
  display: block;
  font-size: 0px;


  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
}

.horizontal > div > .vertical {
  display: inline-block;
  font-size: 0px;
}

.domCell {
  font-size: 12px;
  user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  -webkit-user-select: text;

  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
}

.indented {
}

.hidden {
  display: none !important;
}

.highlighted {
  background-color: highlightColor;
}

.highlighted .horizontal {
  background-color: highlightColor;
}

.highlighted[style] {
  background-color: highlightColor !important;
}


.brightlyHighlighted {
  background-color: brightHighlightColor;
}

.brightlyHighlighted .horizontal {
  background-color: brightHighlightColor;
}

.brightlyHighlighted[style] {
  background-color: brightHighlightColor !important;
}

.selected {
  background-color: Highlight;
  color: HighlightText;
}

.selected .horizontal {
  background-color: Highlight;
  color: HighlightText;
}

.selected[style] {
  background-color: Highlight !important;
  color: HighlightText !important;
}

.hasShadow {
  box-shadow: 5px 5px 10px black;
}