@eval textFont jetbrains.jetpad.projectional.view.gwt.View2Dom.font();
@eval currentHighlightColor jetbrains.jetpad.cell.Cell.FOCUS_HIGHLIGHT_COLOR.toCssColor();
@eval pairHighlightColor jetbrains.jetpad.cell.Cell.PAIR_HIGHLIGHT_COLOR.toCssColor();

.rootContainer:focus {
  outline: 0;
}

.rootContainer {
  position: relative;
  overflow: visible;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  -webkit-touch-callout: none;
  -webkit-user-select: none;

  width: fit-content;
}

.horizontal {
  display: inline-block;
  white-space: nowrap;

  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
}

.horizontal > div {
  display: inline-block;
  vertical-align : top;
}

.vertical > div {
  display: block;
  font-size: 0px;


  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
}

.horizontal > div > .vertical {
  display: inline-block;
  font-size: 0px;
}

.domCell {
  font-size: 12px;
  user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  -webkit-user-select: text;

  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
}

.indented {
}

.hidden {
  display: none !important;
}

.focusedLeaf {
  background-color: currentHighlightColor;
}

.focusedLeaf .horizontal {
  background-color: currentHighlightColor;
}

.focusedLeaf[style] {
  background-color: currentHighlightColor !important;
}

.paired {
  background-color: pairHighlightColor;
}

.paired .horizontal {
  background-color: pairHighlightColor;
}

.paired[style] {
  background-color: pairHighlightColor !important;
}

.selected {
  background-color: Highlight;
  color: HighlightText;
}

.selected .horizontal {
  background-color: Highlight;
  color: HighlightText;
}

.selected[style] {
  background-color: Highlight !important;
  color: HighlightText !important;
}

.hasShadow {
  box-shadow: 5px 5px 10px black;
}